# Python
__pycache__/
*.py[cod]
*$py.class
*.spec
SoulSign-Helper/build/
SoulSign-Helper/dist/
SoulSign-Helper/package/
SoulSign-Helper/bin/
*.exe
*.zip
*.log
check_ci*.py
fetch_log*.py


# Xcode / macOS
.DS_Store
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcbkptlist
